.tgl {
    display: flex;
    width: 32px;
    padding: 2px;
    align-items: center;
    border-radius: 20px;
    background: var(--BG-Main-Contrast, #dfe5ec);
    &:hover {
        cursor: pointer;
        background: var(--BG-Main-Additionally-1, #bfccd9);
    }
    &:active {
        background: var(--BG-Main-Additionally-1, #bfccd9);
    }
    &.tgl-checked {
        background: var(--Icon-Primary-Default, #0080a8);
        .tgl-slider {
            margin-left: 16px;
        }
        &:hover {
            background: var(--Icon-Primary-Hover, #1e657b);
        }
        &:active {
            background: var(--Icon-Primary-Pressed, #144452);
        }
        &.tgl-disabled {
            background: var(--BG-Main-Disabled, #d6eef5);
        }
    }
    &.tgl-disabled {
        background: var(--BG-Main-Contrast, #dfe5ec);
        cursor: default;
        .tgl-slider {
            background: var(--Icon-On-Disabled, #fff);
        }
    }
}
.tgl-slider {
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Icon-On-color, #fff);
}
