<div class="app-information-container">
    <div class="app-info-part">
        <h1>{{ 'czidlo' | translate }}</h1>
        <div class="app-info-description">
            CZIDLO je softwarový nástroj pro podporu národního systému trvalé identifikace ČIDLO (Český systém pro identifikaci a lokalizaci dokumentů
            digitálního kulturního dědictví) založeného na standardu URN:NBN.
        </div>
    </div>
    <div class="app-info-part app-info-nav">
        <div class="app-nav-container">
            <div class="app-tabs">
                <div class="app-tab app-tab-first" [ngClass]="{ 'app-tab-active': isActive === 'info' }" routerLink="/information/info">
                    {{ 'info.info' | translate }}
                </div>
                <div class="app-tab app-tab-middle" [ngClass]="{ 'app-tab-active': isActive === 'rules' }" routerLink="/information/rules">
                    {{ 'info.rules' | translate }}
                </div>
                <div class="app-tab app-tab-last" [ngClass]="{ 'app-tab-active': isActive === 'contact' }" routerLink="/information/contact">
                    {{ 'info.contact' | translate }}
                </div>
            </div>
        </div>
    </div>
    <div class="app-info-part app-scrollable">
        <div class="app-info-content" [innerHTML]="htmlContent"></div>
    </div>
    <div class="app-info-part app-info-footer" *ngIf="isLoggedIn()">
        <app-button variant="primary" size="l" iconLeft="" iconRight="edit-white.svg" (click)="editInfo(isActive)">
            <span>{{ 'info.edit' | translate }}</span>
        </app-button>
    </div>
</div>
