.app-information-container {
    display: flex;
    padding: 24px 16px 40px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    .app-info-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        &.app-scrollable {
            overflow-y: auto;
        }
        .app-nav-container {
            display: flex;
            align-items: flex-start;
            align-self: stretch;
        }
    }
}
