<div class="app-dialog app-detail-dialog">
    <div class="app-dialog-header">
        <div class="app-dialog-title">OAI adapter - {{ data.data.name }}</div>
        <div class="app-close" (click)="closeDialog()">
            <img src="assets/icons/close.svg" />
        </div>
    </div>
    <div class="app-dialog-body">
        <div class="app-sections">
            <div class="app-section">
                <div class="app-items">
                    <div class="app-item">
                        <div class="app-item-label">{{ 'registrars.name' | translate }}:</div>
                        <div class="app-item-value">{{ data.data.name }}</div>
                    </div>
                    <div class="app-item">
                        <div class="app-item-label">{{ 'registrars.id' | translate }}:</div>
                        <div class="app-item-value">{{ data.data.id }}</div>
                    </div>
                    <div class="app-item" *ngIf="data?.data?.description">
                        <div class="app-item-label">{{ 'registrars.description' | translate }}:</div>
                        <div class="app-item-value">{{ data.data.description }}</div>
                    </div>
                    <div class="app-item" *ngIf="data?.item?.created">
                        <div class="app-item-label">{{ 'registrars.created' | translate }}:</div>
                        <div class="app-item-value">{{ data.item.created }}</div>
                    </div>
                    <div class="app-item" *ngIf="data?.item?.modified">
                        <div class="app-item-label">{{ 'registrars.modified' | translate }}:</div>
                        <div class="app-item-value">{{ data.item.modified }}</div>
                    </div>
                    <div class="app-item" *ngIf="data?.data?.filename">
                        <div class="app-item-label">{{ 'processes.xslt-file' | translate }}:</div>
                        <div class="app-item-value">{{ data.data.filename }}</div>
                    </div>
                </div>
            </div>
        </div>
        <pre>{{ data.data | json }}</pre>
    </div>
    <div class="app-dialog-footer">
        <div class="app-dialog-footer-part app-dialog-footer-buttons">
            <app-button variant="primary" size="l" (click)="closeDialog()">
                {{ 'buttons.close' | translate }}
            </app-button>
        </div>
    </div>
</div>
