.app-statistics-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    .app-statistics {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 0 0 0;
        overflow: hidden;
        .app-statistics-header {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            padding: 0 16px 0 16px;
            box-sizing: border-box;
            .app-tabs {
                width: 100%;
            }
            // IN STYLES.SCSS
        }
        .app-tab-content {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            gap: 16px;
            overflow: hidden;
            .app-title {
                color: var(--Text-Base, #0a0d10);

                /* Typesettings/XL/Medium */
                font-family: 'IBM Plex Sans';
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 160% */
            }
            .app-actions {
                display: flex;
                align-items: flex-start;
                gap: 32px;
                align-self: stretch;
                .app-left-part {
                    display: flex;
                    width: 114px;
                    height: 40px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--Spacing-x2, 8px);
                }
                .app-right-part {
                    .app-tags {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .app-content {
                display: flex;
                flex-direction: column;
                gap: 24px;
                overflow: auto;
                .app-chart-wrapper {
                    display: flex;
                    gap: 24px;
                    max-width: 1200px;
                    height: 100%;
                    // overflow: auto;
                }
                .app-chart {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    // height: 400px;
                    // height: 300px;
                    &.app-chart-years {
                        width: 100%;
                    }
                    .app-chart-header {
                        display: flex;
                        .app-chart-header-item {
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            margin-bottom: 8px;
                            .app-chart-header-title {
                                /* Typesettings/M/Medium */
                                font-family: 'IBM Plex Sans';
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px; /* 150% */
                            }
                        }
                    }
                    .app-chart-table {
                        width: 100%;
                        font-size: 12px;
                        margin-bottom: 40px;
                        .app-chart-row {
                            display: flex;
                            justify-content: space-between;
                            padding: 4px 16px;
                            background-color: white;
                            border-bottom: 1px solid var(--Border-Strong, #dfe3e6);
                            cursor: pointer;
                            &:hover {
                                background-color: var(--Background-Secondary, #f5f7f9);
                            }
                            &.app-header-row {
                                font-weight: 600;
                                border-bottom: 1px solid var(--Border-Strong, #dfe3e6);
                            }
                            .app-chart-col {
                                display: flex;
                                .app-col-registrar-code {
                                    width: 65px;
                                }
                                .app-col-registrar-name {
                                    flex: 1;
                                }
                                .app-col-count {
                                    width: 100px;
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.app-filter-tags {
    display: flex;
    width: 800px;
    padding: 0px 16px 16px 16px;
    gap: 8px;
    box-sizing: border-box;
    .app-filter-tag {
        display: flex;
        align-items: center;
        background: var(--BG-Main-Light, #f6f7f9);
        border-radius: 16px;
        padding: 4px 12px;
        gap: 8px;
        .app-tag-label {
            font-size: 14px;
            color: var(--Text-Secondary, #263340);
        }
        .app-tag-remove-icon {
            font-size: 14px;
            color: var(--Text-Light, #4c6580);
            cursor: pointer;
            &:hover {
                color: var(--Text-Secondary, #263340);
            }
        }
    }
}
