.app-statistics-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    .app-statistics {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 0 0 0;
        overflow: hidden;
        .app-statistics-header {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            padding: 0 16px 0 16px;
            box-sizing: border-box;
            .app-tabs {
                width: 100%;
            }
            // IN STYLES.SCSS
        }
        .app-tab-content {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            gap: 16px;
            overflow: hidden;
            .app-title {
                color: var(--Text-Base, #0a0d10);

                /* Typesettings/XL/Medium */
                font-family: 'IBM Plex Sans';
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 160% */
            }
            .app-actions {
                display: flex;
                align-items: flex-start;
                gap: 32px;
                align-self: stretch;
                .app-left-part {
                    display: flex;
                    width: 114px;
                    height: 40px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--Spacing-x2, 8px);
                }
                .app-right-part {
                    .app-tags {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
            .app-content {
                display: flex;
                flex-direction: column;
                gap: 24px;
                overflow: auto;
                .app-chart {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    // height: 300px;
                    .app-chart-header {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}
