<div class="app-search-container">
    <div class="app-search">
        <input
            #searchInput
            id="search-input"
            type="text"
            placeholder="Hledat..."
            [(ngModel)]="searchQuery"
            (keyup.enter)="onSearch(searchInput.value)"
        />
        <app-button variant="primary" size="l" iconLeft="" iconRight="" (click)="onSearch(searchInput.value)">
            <span>{{ 'buttons.search' | translate }}</span>
        </app-button>
    </div>
    <div class="app-action">
        <div class="app-select-type">
            <mat-form-field appearance="outline">
                <mat-label>Typ dokumentu</mat-label>
                <mat-select [(ngModel)]="selectedType" (selectionChange)="onTypeSelected()">
                    <mat-option value="">Vše</mat-option>
                    <mat-option value="MONOGRAPH">Monografie</mat-option>
                    <mat-option value="MONOGRAPH_VOLUME">Svazek monografie</mat-option>
                    <mat-option value="PERIODICAL">Periodikum</mat-option>
                    <mat-option value="PERIODICAL_VOLUME">Ročník periodika</mat-option>
                    <mat-option value="PERIODICAL_ISSUE">Číslo periodika</mat-option>
                    <mat-option value="ANALYTICAL">Článek</mat-option>
                    <mat-option value="THESIS">Thesis</mat-option>
                    <mat-option value="OTHER">Ostatní</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="app-records-count" *ngIf="searchService.recordsCount() > 0">
            {{ 'search.records-found' | translate }}: {{ searchService.recordsCount() }}
        </div>
    </div>

    <!-- SEARCH RESULTS -->
    <div class="app-search-results" *ngIf="searchService.searchResults().length > 0">
        <div class="app-search-card" *ngFor="let item of searchService.searchResults()">
            <div class="app-card-header" [ngClass]="{ opened: item.opened }" (click)="onSelectItem(item)">
                <div class="app-card-header-left">
                    <img *ngIf="!item.loading" [src]="item.opened ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                    <div *ngIf="item.loading" class="loader"><mat-spinner diameter="24"></mat-spinner></div>
                    <div class="app-card-title">
                        <div class="app-title-part">{{ item.title }}</div>
                        <div class="app-title-part" *ngIf="item.volumetitle">- {{ item.volumetitle }}</div>
                        <div class="app-title-part" *ngIf="item.sdtitle">({{ item.sdtitle }})</div>
                        <div class="app-title-part" *ngIf="item.documenttype">({{ item.documenttype }})</div>
                    </div>
                </div>
                <div class="app-card-header-right">
                    <div
                        class="app-urn-nbn"
                        *ngIf="item.documentcode && item.registrarcode"
                        [ngClass]="item.active ? 'app-active' : 'app-not-active'"
                    >
                        urn:nbn:cz:{{ item.registrarcode }}-{{ item.documentcode }}
                    </div>
                </div>
            </div>
            <div class="app-card-content" [ngClass]="{ opened: item.opened }" *ngIf="item.opened && !item.loading">
                <div class="app-ie-info">
                    <div class="app-ie-field app-link-cnb" *ngIf="item.ccnb">
                        <a
                            href="https://aleph.nkp.cz/F/?func=direct&doc_number={{ item.ccnb.split('cnb')[1] }}&local_base=CNB"
                            target="_blank"
                            rel="noopener"
                        >
                            {{ 'search.cnb-link' | translate }}
                        </a>
                    </div>

                    <!-- TITLE -->
                    <div class="app-ie-field" *ngIf="item.title">
                        <div class="app-label">{{ 'search.title' | translate }}:</div>
                        <div class="app-value">{{ item.title }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.subtitle">
                        <div class="app-label">{{ 'search.subtitle' | translate }}:</div>
                        <div class="app-value">{{ item.subtitle }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.volumetitle">
                        <div class="app-label">{{ 'search.volumetitle' | translate }}:</div>
                        <div class="app-value">{{ item.volumetitle }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.issuetitle">
                        <div class="app-label">{{ 'search.issuetitle' | translate }}:</div>
                        <div class="app-value">{{ item.issuetitle }}</div>
                    </div>

                    <!-- AUTHORS -->
                    <div class="app-ie-field" *ngIf="item.author?.length > 0">
                        <div class="app-label">{{ 'search.author' | translate }}:</div>
                        <div class="app-value">{{ item.author }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.corporation?.length > 0">
                        <div class="app-label">{{ 'search.author' | translate }}:</div>
                        <div class="app-value">{{ item.corporation }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.event?.length > 0">
                        <div class="app-label">{{ 'search.author' | translate }}:</div>
                        <div class="app-value">{{ item.event }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.otheroriginator">
                        <div class="app-label">{{ 'search.otheroriginator' | translate }}:</div>
                        <div class="app-value">{{ item.otheroriginator }}</div>
                    </div>

                    <!-- PUBLICATION -->
                    <div class="app-ie-field" *ngIf="item.details && item.details?.digitalDocument?.monograph?.publication?.place">
                        <div class="app-label">{{ 'search.place' | translate }}:</div>
                        <div class="app-value">{{ item.details?.digitalDocument?.monograph?.publication?.place }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.details && item.details?.digitalDocument?.monograph?.publication?.publisher">
                        <div class="app-label">{{ 'search.publisher' | translate }}:</div>
                        <div class="app-value">{{ item.details?.digitalDocument?.monograph?.publication?.publisher }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.details && item.details?.digitalDocument?.monograph?.publication?.year">
                        <div class="app-label">{{ 'search.year' | translate }}:</div>
                        <div class="app-value">{{ item.details?.digitalDocument?.monograph?.publication?.year }}</div>
                    </div>

                    <!-- SOURCE TITLE -->
                    <div class="app-ie-field" *ngIf="item.sdtitle">
                        <div class="app-label">{{ 'search.sdtitle' | translate }}:</div>
                        <div class="app-value">{{ item.sdtitle }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.sdvolumetitle">
                        <div class="app-label">{{ 'search.sdvolumetitle' | translate }}:</div>
                        <div class="app-value">{{ item.sdvolumetitle }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.sdissuetitle">
                        <div class="app-label">{{ 'search.sdissuetitle' | translate }}:</div>
                        <div class="app-value">{{ item.sdissuetitle }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.ccnb">
                        <div class="app-label">{{ 'search.ccnb' | translate }}:</div>
                        <div class="app-value">{{ item.ccnb }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.issn">
                        <div class="app-label">{{ 'search.issn' | translate }}:</div>
                        <div class="app-value">{{ item.issn }}</div>
                    </div>
                    <div class="app-ie-field" *ngIf="item.isbn">
                        <div class="app-label">{{ 'search.isbn' | translate }}:</div>
                        <div class="app-value">{{ item.isbn }}</div>
                    </div>

                    <div class="app-button-part" *ngIf="isAdmin()">
                        <app-button variant="primary" size="s" (click)="editItem(item)">
                            <span>{{ 'buttons.edit' | translate }}</span>
                        </app-button>
                    </div>

                    <!-- ZDROJOVY DOKUMENT -->
                    <!-- <div class="app-ie-source-document" [ngClass]="{ opened: item.sdtitleopen }" *ngIf="item.sdtitle">
                        <div class="app-ie-header app-ie-source-document-header" (click)="toggleSdInfo(item)">
                            <img [src]="item.sdtitleopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                            <div class="app-part-title">
                                <div class="app-label">{{ 'search.sd' | translate }}:</div>
                                <div>{{ item.sdtitle }}</div>
                                <div>{{ item.sdvolumetitle }}</div>
                                <div>{{ item.sdissuetitle }}</div>
                            </div>
                        </div>
                        <div class="app-ie-content app-ie-source-document-content" *ngIf="item.sdtitleopen"></div>
                    </div> -->

                    <!-- DIGITALNI DOKUMENT -->
                    <div class="app-ie-digital-document" [ngClass]="{ opened: item.ddopen }" *ngIf="item.details?.digitalDocument">
                        <div class="app-ie-header app-ie-digital-document-header" (click)="item.ddopen = !item.ddopen">
                            <img [src]="item.ddopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                            <div class="app-part-title">
                                <div class="app-label">{{ 'search.dd' | translate }}</div>
                                <app-button variant="tertiary" size="xs">XML →</app-button>
                                <app-button variant="tertiary" size="xs">JSON →</app-button>
                            </div>
                        </div>
                        <div class="app-ie-content app-ie-digital-document-content" *ngIf="item.ddopen">
                            <!-- URNNBN USER -->
                            <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.urnNbn && !isAdmin()">
                                <!-- <div class="app-label">{{ 'search.urnNbn' | translate }}:</div> -->
                                <div class="app-value">{{ item.details.digitalDocument.urnNbn.value }}</div>
                                <div class="app-value-2">
                                    ({{ 'search.registered' | translate }} {{ item.details.digitalDocument.created | date }})
                                </div>
                            </div>
                            <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.registrar">
                                <div class="app-label">{{ 'search.registrar' | translate }}:</div>
                                <div class="app-value">{{ item.details.digitalDocument?.registrar?.name }}</div>
                                <div class="app-value-2">({{ item.details.digitalDocument?.registrar?.code }})</div>
                            </div>
                            <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.archiver">
                                <div class="app-label">{{ 'search.archiver' | translate }}:</div>
                                <div class="app-value">{{ item.details.digitalDocument?.archiver?.name }}</div>
                                <div class="app-value-2" *ngIf="item.details.digitalDocument?.archiver?.description">
                                    ({{ item.details.digitalDocument?.archiver?.description }})
                                </div>
                            </div>
                            <div class="app-button-part">
                                <app-button variant="primary" size="s" (click)="editDigitalDocument(item)">
                                    <span>{{ 'buttons.edit' | translate }}</span>
                                </app-button>
                            </div>

                            <!-- URNNBN ADMIN -->
                            <div class="app-ie-urnnbn" *ngIf="isAdmin()">
                                <div class="app-ie-header" (click)="item.urnopen = !item.urnopen">
                                    <img [src]="item.urnopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                                    <div class="app-part-title">
                                        <div class="app-label-2">{{ item.details?.digitalDocument?.urnNbn?.value }}</div>
                                        <app-button variant="tertiary" size="xs">XML →</app-button>
                                        <app-button variant="tertiary" size="xs">JSON →</app-button>
                                    </div>
                                </div>
                                <div class="app-ie-content app-ie-digital-document-content" *ngIf="item.urnopen">
                                    <div class="app-ie-field">
                                        <div class="app-label">{{ 'search.registered' | translate }}:</div>
                                        <div class="app-value">{{ item.details.digitalDocument.urnNbn.registered | date }}</div>
                                    </div>
                                    <div class="app-ie-field">
                                        <div class="app-label">{{ 'search.status' | translate }}:</div>
                                        <div class="app-value">{{ item.details.digitalDocument.urnNbn.status }}</div>
                                    </div>
                                    <div class="app-button-part">
                                        <app-button variant="primary" size="s" (click)="deactivateURNNBN(item)">
                                            <span>{{ 'buttons.deactivate' | translate }}</span>
                                        </app-button>
                                        <app-button variant="primary" size="s" (click)="addInstance(item)">
                                            <span>{{ 'buttons.add-instance' | translate }}</span>
                                        </app-button>
                                    </div>
                                </div>
                            </div>

                            <!-- TECHNICKA METADATA -->
                            <div
                                class="app-ie-technical-metadata"
                                [ngClass]="{ opened: item.tmopen }"
                                *ngIf="item.details?.digitalDocument?.technicalMetadata"
                            >
                                <div class="app-ie-header" (click)="item.tmopen = !item.tmopen">
                                    <img [src]="item.tmopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                                    <div class="app-part-title">
                                        <div class="app-label-2">{{ 'search.tm' | translate }}</div>
                                    </div>
                                </div>
                                <div class="app-ie-content" *ngIf="item.tmopen">
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.format">
                                        <div class="app-label">{{ 'search.format' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.format.format }}</div>
                                        <div class="app-value-2">
                                            ({{ 'search.version' | translate }}
                                            {{ item.details?.digitalDocument?.technicalMetadata?.format.version }})
                                        </div>
                                    </div>
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.extent">
                                        <div class="app-label">{{ 'search.extent' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.extent }}</div>
                                    </div>
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.resolution">
                                        <div class="app-label">{{ 'search.resolution' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.resolution.horizontal }}</div>
                                        x
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.resolution.vertical }}</div>
                                        dpi
                                    </div>
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.compression">
                                        <div class="app-label">{{ 'search.compression' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.compression.standard }}</div>
                                    </div>
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.color">
                                        <div class="app-label">{{ 'search.color' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.color.model }}</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.color.depth }}bit</div>
                                    </div>
                                    <div class="app-ie-field" *ngIf="item.details?.digitalDocument?.technicalMetadata?.pictureSize">
                                        <div class="app-label">{{ 'search.pictureSize' | translate }}:</div>
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.pictureSize.width }}</div>
                                        x
                                        <div class="app-value">{{ item.details?.digitalDocument?.technicalMetadata?.pictureSize.height }}</div>
                                        px
                                    </div>
                                </div>
                            </div>
                            <!-- RSI -->
                            <div
                                class="app-ie-rsi"
                                [ngClass]="{ opened: item.rsiopen }"
                                *ngIf="item.details?.digitalDocument?.registrarScopeIdentifiers?.length > 0"
                            >
                                <div class="app-ie-header" (click)="item.rsiopen = !item.rsiopen">
                                    <img [src]="item.rsiopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                                    <div class="app-part-title">
                                        <div class="app-label-2">{{ 'search.rsi' | translate }}</div>
                                    </div>
                                </div>
                                <div class="app-ie-content" *ngIf="item.rsiopen">
                                    <div class="app-ie-field" *ngFor="let rsi of item.details?.digitalDocument?.registrarScopeIdentifiers">
                                        <div class="app-label">{{ rsi?.type }}:</div>
                                        <div class="app-value">{{ rsi?.value }}</div>
                                    </div>
                                </div>
                            </div>
                            <!--DIGITAL INSTANCES -->
                            <div class="app-ie-di" *ngIf="item.details?.digitalDocument?.digitalInstances?.length > 0">
                                <div *ngFor="let di of item.details?.digitalDocument?.digitalInstances">
                                    <div class="app-ie-header" (click)="di.diopen = !di.diopen">
                                        <img [src]="di.diopen ? 'assets/icons/arrow-up2.svg' : 'assets/icons/arrow-down2.svg'" />
                                        <div class="app-part-title app-part-title-di">
                                            <div class="app-label-2 app-di-url-label">
                                                <a href="{{ di.url }}" target="_blank" rel="noopener noreferrer">{{ di.url }}</a>
                                            </div>
                                            <app-button variant="tertiary" size="xs">XML →</app-button>
                                            <app-button variant="tertiary" size="xs">JSON →</app-button>
                                        </div>
                                    </div>
                                    <div class="app-ie-content" *ngIf="di.diopen">
                                        <div class="app-ie-field" *ngIf="di.active">
                                            <div class="app-label">{{ 'search.active' | translate }}:</div>
                                            <div class="app-value">{{ 'search.' + di.active | translate }}</div>
                                        </div>
                                        <div class="app-ie-field" *ngIf="di.digitalLibrary">
                                            <div class="app-label">{{ 'search.digitalLibrary' | translate }}:</div>
                                            <div class="app-value">{{ di.digitalLibrary.name }}</div>
                                            <app-button variant="tertiary" size="xs">{{ 'search.didetails' | translate }} →</app-button>
                                        </div>
                                        <div class="app-ie-field" *ngIf="di.format">
                                            <div class="app-label">{{ 'search.format' | translate }}:</div>
                                            <div class="app-value">{{ di.format }}</div>
                                        </div>
                                        <div class="app-ie-field" *ngIf="di.accessibility">
                                            <div class="app-label">{{ 'search.accessibility' | translate }}:</div>
                                            <div class="app-value">{{ di.accessibility }}</div>
                                        </div>
                                        <div class="app-ie-field" *ngIf="di.access_restriction">
                                            <div class="app-label">{{ 'search.access_restriction' | translate }}:</div>
                                            <div class="app-value">{{ di.access_restriction }}</div>
                                        </div>
                                        <div class="app-ie-field" *ngIf="di.created">
                                            <div class="app-label">{{ 'search.created' | translate }}:</div>
                                            <div class="app-value">{{ di.created | date }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>{{ item | json }}</pre>
                </div>
            </div>
        </div>
    </div>

    <!-- NO RESULTS -->
    <div class="app-no-results" *ngIf="searchService.recordsCount() === 0">
        <h1 class="app-no-results-title">{{ 'search.no-results-title' | translate }}</h1>
        <div class="app-no-results-text">{{ 'search.no-results-text-1' | translate }}</div>
        <div class="app-no-results-text">
            {{ 'search.no-results-text-2' | translate }}
            <a href="mailto:resolver-podpora@nkp.cz">resolver-podpora&#64;nkp.cz</a>
            .
        </div>
    </div>

    <!-- PAGINATOR -->
    <div class="app-search-footer" *ngIf="pages.length > 1">
        <div class="app-paginator">
            <div class="app-pages">
                <div class="app-page-items">
                    <div
                        class="app-page"
                        *ngFor="let page of displayedFirstPages"
                        [ngClass]="{ 'app-active': page === currentPage }"
                        (click)="changePage(page)"
                    >
                        {{ page }}
                    </div>
                </div>
                <div class="app-dots" *ngIf="pages.length > 4">...</div>
                <div class="app-page-items" *ngIf="displayedMiddlePages.length > 0">
                    <div
                        class="app-page"
                        *ngFor="let page of displayedMiddlePages"
                        [ngClass]="{ 'app-active': page === currentPage }"
                        (click)="changePage(page)"
                    >
                        {{ page }}
                    </div>
                </div>
                <div class="app-dots" *ngIf="displayedMiddlePages.length > 0">...</div>
                <div class="app-page-items" *ngIf="pages.length > 4">
                    <div
                        class="app-page"
                        *ngFor="let page of displayedLastPages"
                        [ngClass]="{ 'app-active': page === currentPage }"
                        (click)="changePage(page)"
                    >
                        {{ page }}
                    </div>
                </div>
            </div>
            <div class="app-navigation">
                <div class="app-navigation-button" (click)="changePage(currentPage - 1)" [ngClass]="{ disabled: currentPage === 1 }">
                    <img class="app-navigation-icon" src="assets/icons/arrow-left-white.svg" />
                </div>
                <div class="app-navigation-button" (click)="changePage(currentPage + 1)" [ngClass]="{ disabled: currentPage === lastPage }">
                    <img class="app-navigation-icon" src="assets/icons/arrow-right-white.svg" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="app-overlay" *ngIf="isSidebarOpen()" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <div class="app-sidebar-entity">
        <!-- HEADER -->
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">
                {{ 'import.' + selectedEntity | translate }}
            </div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-field-hint">{{ 'import.mandatory' | translate }}</div>

            <!-- TITLE_PART -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.title_part' | translate }}
                </div>
                <div class="app-part-content">
                    <div
                        class="app-base-input-container"
                        *ngIf="
                            selectedEntity !== 'MONOGRAPH_VOLUME' && selectedEntity !== 'PERIODICAL_VOLUME' && selectedEntity !== 'PERIODICAL_ISSUE'
                        "
                    >
                        <div class="app-base-input app-full-width app-title">
                            <div class="app-base-input-label">
                                {{ 'import.title' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="title" />
                            <mat-error class="app-error-message" *ngIf="title.invalid && (title.dirty || title.touched)">
                                {{ 'messages.title-required' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="
                            selectedEntity !== 'MONOGRAPH_VOLUME' && selectedEntity !== 'PERIODICAL_VOLUME' && selectedEntity !== 'PERIODICAL_ISSUE'
                        "
                    >
                        <div class="app-base-input app-full-width app-subTitle">
                            <div class="app-base-input-label">
                                {{ 'import.subTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="subTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'MONOGRAPH_VOLUME'">
                        <div class="app-base-input app-full-width app-monographTitle">
                            <div class="app-base-input-label">
                                {{ 'import.monographTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="monographTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'PERIODICAL_VOLUME' || selectedEntity === 'PERIODICAL_ISSUE'">
                        <div class="app-base-input app-full-width app-periodicalTitle">
                            <div class="app-base-input-label">
                                {{ 'import.periodicalTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="periodicalTitle" />
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="
                            selectedEntity === 'MONOGRAPH_VOLUME' || selectedEntity === 'PERIODICAL_VOLUME' || selectedEntity === 'PERIODICAL_ISSUE'
                        "
                    >
                        <div class="app-base-input app-full-width app-volumeTitle">
                            <div class="app-base-input-label">
                                {{ 'import.volumeTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="volumeTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'PERIODICAL_ISSUE'">
                        <div class="app-base-input app-full-width app-issueTitle">
                            <div class="app-base-input-label">
                                {{ 'import.issueTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="issueTitle" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- IDENTIFIERS -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.identifiers' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-half-width app-ccnb">
                            <div class="app-base-input-label">
                                {{ 'import.ccnb' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="ccnb" />
                            <mat-error *ngIf="ccnb.hasError('invalidCcnb')">
                                {{ 'messages.invalid-ccnb' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="selectedEntity === 'MONOGRAPH' || selectedEntity === 'MONOGRAPH_VOLUME' || selectedEntity === 'OTHER'"
                    >
                        <div class="app-base-input app-half-width app-isbn">
                            <div class="app-base-input-label">
                                {{ 'import.isbn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="isbn" />
                            <mat-error *ngIf="isbn.hasError('invalidIsbn')">
                                {{ 'messages.invalid-isbn' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="selectedEntity === 'PERIODICAL' || selectedEntity === 'PERIODICAL_ISSUE' || selectedEntity === 'PERIODICAL_VOLUME'"
                    >
                        <div class="app-base-input app-half-width app-issn">
                            <div class="app-base-input-label">
                                {{ 'import.issn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="issn" />
                            <mat-error *ngIf="issn.hasError('invalidIssn')">
                                {{ 'messages.invalid-issn' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-otherId">
                            <div class="app-base-input-label">
                                {{ 'import.otherId' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherId" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- OTHER -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.other' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- DOCUMENT TYPE & BORN DIGITAL -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-documentType">
                            <div class="app-base-input-label">
                                {{ 'import.documentType' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="documentType" />
                        </div>
                        <div class="app-base-input app-toggle-container app-bornDigital" *ngIf="selectedEntity !== 'ANALYTICAL'">
                            <app-toggle size="s" [checked]="bornDigital" (click)="bornDigital = !bornDigital"></app-toggle>
                            <div class="app-toggle-label">{{ 'import.bornDigital' | translate }}</div>
                        </div>
                    </div>

                    <!-- PRIMARY ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-primaryOriginatorType">
                            <div class="app-base-input-label">
                                {{ 'import.primaryOriginator' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect app-primaryOriginatorType" [(value)]="selectedOriginatorType">
                                    @for (entity of primaryOriginatorTypes; track entity) {
                                    <mat-option [value]="entity.value">{{ entity.label }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="app-base-input app-primaryOriginatorValue">
                            <input matInput type="text" [formControl]="primaryOriginatorValue" />
                        </div>
                    </div>

                    <!-- OTHER ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-otherOriginator">
                            <div class="app-base-input-label">
                                {{ 'import.otherOriginator' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherOriginator" />
                        </div>
                    </div>

                    <!-- PUBLICATION -->
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-full-width app-place">
                            <div class="app-base-input-label">
                                {{ 'import.place' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="place" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-full-width app-publisher">
                            <div class="app-base-input-label">
                                {{ 'import.publisher' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="publisher" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-half-width app-year">
                            <div class="app-base-input-label">
                                {{ 'import.year' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="year" />
                        </div>
                    </div>
                    <!-- THESIS -->
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'THESIS'">
                        <div class="app-base-input app-full-width app-degreeAwardingInstitution">
                            <div class="app-base-input-label">
                                {{ 'import.degreeAwardingInstitution' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="degreeAwardingInstitution" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- SOURCE DOCUMENT (ANALYTICAL) -->
            <div class="app-part" *ngIf="selectedEntity === 'ANALYTICAL'">
                <div class="app-part-title">
                    {{ 'import.sourceDocument' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentVolumeTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentVolumeTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentVolumeTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentIssueTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentIssueTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentIssueTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-ccnb">
                            <div class="app-base-input-label">{{ 'import.ccnb' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentCcnb" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-isbn">
                            <div class="app-base-input-label">{{ 'import.isbn' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentIsbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-issn">
                            <div class="app-base-input-label">{{ 'import.issn' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentIssn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-otherId">
                            <div class="app-base-input-label">{{ 'import.otherId' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentOtherId" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-place">
                            <div class="app-base-input-label">{{ 'import.place' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentPlace" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-publisher">
                            <div class="app-base-input-label">{{ 'import.publisher' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentPublisher" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-year">
                            <div class="app-base-input-label">{{ 'import.year' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentYear" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIGITAL DOCUMENT -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.digital-document' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- ARCHIVER ID -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-primaryArchiverId">
                            <div class="app-base-input-label">
                                {{ 'import.archiverId' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect" [(value)]="selectedArchiverId">
                                    @for (entity of archiverIdsList(); track entity) {
                                    <mat-option [value]="entity.id">{{ entity.name }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedMode === 'reservation'">
                        <div class="app-base-input app-half-width app-urnNbn">
                            <div class="app-base-input-label">
                                {{ 'import.urnNbn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="urnNbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-financed">
                            <div class="app-base-input-label">
                                {{ 'import.financed' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="financed" />
                        </div>
                        <div class="app-base-input app-half-width app-contractNumber">
                            <div class="app-base-input-label">
                                {{ 'import.contractNumber' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="contractNumber" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.technicalMetadata' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-formatValue">
                            <div class="app-base-input-label">
                                {{ 'import.formatValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatValue" />
                        </div>
                        <div class="app-base-input app-half-width app-formatVersion">
                            <div class="app-base-input-label">
                                {{ 'import.formatVersion' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatVersion" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-extent">
                            <div class="app-base-input-label">
                                {{ 'import.extent' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="extent" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-resolutionHorizontal">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionHorizontal' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionHorizontal" />
                        </div>
                        <div class="app-base-input app-half-width app-resolutionVertical">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionVertical' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionVertical" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-compressionRatio">
                            <div class="app-base-input-label">
                                {{ 'import.compressionRatio' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionRatio" />
                        </div>
                        <div class="app-base-input app-half-width app-compressionValue">
                            <div class="app-base-input-label">
                                {{ 'import.compressionValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionValue" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-colorModel">
                            <div class="app-base-input-label">
                                {{ 'import.colorModel' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorModel" />
                        </div>
                        <div class="app-base-input app-half-width app-colorDepth">
                            <div class="app-base-input-label">
                                {{ 'import.colorDepth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorDepth" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-iccProfile">
                            <div class="app-base-input-label">
                                {{ 'import.iccProfile' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="iccProfile" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-pictureSizeWidth">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeWidth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeWidth" />
                        </div>
                        <div class="app-base-input app-half-width app-pictureSizeHeight">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeHeight' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeHeight" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="app-sidebar-footer" [ngClass]="{ 'snack-bar-visible': importRecordSnackBarVisible() }">
            <div class="app-record-imported-snack-bar" *ngIf="importRecordSnackBarVisible()">
                {{ 'messages.record-imported-successfully' | translate }}
            </div>
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" (click)="onEditRecordConfirm()" [disabled]="isButtonDisabled()">
                    <span>{{ 'buttons.import-record' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
</div>
