.app-dialog {
    border-radius: 4px;
    background: var(--BG-Main-Base, #fff);
    .app-dialog-header {
        display: flex;
        padding: 20px 24px;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        .app-dialog-title {
            flex: 1 0 0;
            color: var(--Text-Base, #0a0d10);

            /* Typesettings/XL/Medium */
            font-family: 'IBM Plex Sans';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }
        .app-close {
            display: flex;
            padding: 4px 0;
            align-items: center;
            gap: 8px;
        }
    }
    .app-dialog-footer {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-top: 1px solid var(--Boarder-Bright, #dfe5ec);
        background: var(--BG-Main-Base, #fff);
    }
}
