.app-registrators-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    .app-registrators-page {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 0 0 0;
        .app-registrators-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            padding: 0 0 0 16px;
            // IN STYLES.SCSS
        }
        .app-table {
            padding: 0 0 0 16px;
        }
    }
}
.app-sidebar {
    display: none;
    height: 100%;
    align-self: flex-end;
    &.app-sidebar-active {
        display: flex;
    }
    .app-sidebar-archiver,
    .app-sidebar-registrator {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        z-index: 101;
        width: 800px;
        // STYLES SCSS
    }
}
.app-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
