<div class="app-import-record-container" *ngIf="assignedRegistars.length > 0">
    <div class="app-import-record-header">
        {{ 'import.import-record-title' | translate }}
    </div>
    <div class="app-import-record-body app-sidebar-content">
        <div class="app-part">
            <div class="app-part-content">
                <!-- INTELLECTUAL ENTITY -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.intelectual-entity-type' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedEntity">
                                @for (entity of intellectualEntitiesList(); track entity) {
                                <mat-option [value]="entity">{{ entity }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- REGISTRAR -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.registrar' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedRegistrar">
                                @for (registrar of assignedRegistars; track registrar) {
                                <mat-option [value]="registrar">{{ registrar }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- REGISTRATION MODE -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.registration-mode' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedMode" [compareWith]="compareMode">
                                @for (mode of registrationMode; track mode) {
                                <mat-option [value]="mode.value">{{ mode.label | translate }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- BUTTON -->
                <div class="">
                    <app-button
                        *ngIf="this.selectedEntity && this.selectedMode && this.selectedRegistrar"
                        variant="primary"
                        size="l"
                        iconRight="arrow-right.png"
                        (click)="openSidebar()"
                    >
                        {{ 'import.continue' | translate }}
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- No Registrars -->
<div class="app-no-registrars" *ngIf="assignedRegistars.length === 0">
    <div class="app-no-registrars-header">
        <div class="app-no-registrars-header-title">{{ 'import.no-registrar-title' | translate }}</div>
        <div class="app-no-registrars-header-subtitle">{{ 'import.no-registrar-subtitle' | translate }}</div>
    </div>
    <div class="app-no-registrars-header">
        <div class="app-no-registrars-header-title">{{ 'import.what-now' | translate }}</div>
    </div>
    <div class="app-no-registrars-body">
        <div class="app-no-registrars-body-part">
            <div class="app-body-title">
                {{ 'import.you-are-admin' | translate }}
            </div>
            <ul class="app-body-text">
                <li>
                    {{ 'import.open-users-page' | translate }}
                    <a routerLink="/users">{{ 'import.user-link-text' | translate }}</a>
                </li>
                <li>{{ 'import.assign-registrar' | translate }}</li>
                <li>{{ 'import.after-assign' | translate }}</li>
            </ul>
        </div>
        <div class="app-no-registrars-body-part">
            <div class="app-body-title">
                {{ 'import.not-admin' | translate }}
            </div>
            <ul class="app-body-text">
                <li>
                    {{ 'import.contact-admin' | translate }}
                    <a href="mailto:resolver-podpora@nkp.cz">resolver-podpora&#64;nkp.cz</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="app-overlay" *ngIf="isSidebarOpen()" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <div class="app-sidebar-entity">
        <!-- HEADER -->
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">
                {{ 'import.' + selectedEntity | translate }}
            </div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-field-hint">{{ 'import.mandatory' | translate }}</div>

            <!-- TITLE_PART -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.title_part' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-title">
                            <div class="app-base-input-label">
                                {{ 'import.title' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="title" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-subTitle">
                            <div class="app-base-input-label">
                                {{ 'import.subTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="subTitle" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- IDENTIFIERS -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.identifiers' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-ccnb">
                            <div class="app-base-input-label">
                                {{ 'import.ccnb' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="ccnb" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-isbn">
                            <div class="app-base-input-label">
                                {{ 'import.isbn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="isbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-otherId">
                            <div class="app-base-input-label">
                                {{ 'import.otherId' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherId" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- OTHER -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.other' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- DOCUMENT TYPE & BORN DIGITAL -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-documentType">
                            <div class="app-base-input-label">
                                {{ 'import.documentType' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="documentType" />
                        </div>
                        <div class="app-base-input app-toggle-container app-bornDigital">
                            <app-toggle size="s" [checked]="bornDigital" (click)="bornDigital = !bornDigital"></app-toggle>
                            <div class="app-toggle-label">{{ 'import.bornDigital' | translate }}</div>
                        </div>
                    </div>

                    <!-- PRIMARY ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-primaryOriginatorType">
                            <div class="app-base-input-label">
                                {{ 'import.primaryOriginator' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect app-primaryOriginatorType" [(value)]="selectedOriginatorType">
                                    @for (entity of primaryOriginatorTypes; track entity) {
                                    <mat-option [value]="entity.value">{{ entity.label }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="app-base-input app-primaryOriginatorValue">
                            <input matInput type="text" [formControl]="primaryOriginatorValue" />
                        </div>
                    </div>

                    <!-- OTHER ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-otherOriginator">
                            <div class="app-base-input-label">
                                {{ 'import.otherOriginator' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherOriginator" />
                        </div>
                    </div>

                    <!-- PUBLICATION -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-place">
                            <div class="app-base-input-label">
                                {{ 'import.place' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="place" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-publisher">
                            <div class="app-base-input-label">
                                {{ 'import.publisher' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="publisher" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-year">
                            <div class="app-base-input-label">
                                {{ 'import.year' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="year" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIGITAL DOCUMENT -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.digital-document' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- ARCHIVER ID -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-primaryArchiverId">
                            <div class="app-base-input-label">
                                {{ 'import.archiverId' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect" [(value)]="selectedArchiverId">
                                    @for (entity of archiverIdsList(); track entity) {
                                    <mat-option [value]="entity.id">{{ entity.name }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedMode === 'reservation'">
                        <div class="app-base-input app-urnNbn">
                            <div class="app-base-input-label">
                                {{ 'import.urnNbn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="urnNbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-financed">
                            <div class="app-base-input-label">
                                {{ 'import.financed' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="financed" />
                        </div>
                        <div class="app-base-input app-contractNumber">
                            <div class="app-base-input-label">
                                {{ 'import.contractNumber' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="contractNumber" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.technicalMetadata' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-formatValue">
                            <div class="app-base-input-label">
                                {{ 'import.formatValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatValue" />
                        </div>
                        <div class="app-base-input app-formatVersion">
                            <div class="app-base-input-label">
                                {{ 'import.formatVersion' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatVersion" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-extent">
                            <div class="app-base-input-label">
                                {{ 'import.extent' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="extent" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-resolutionHorizontal">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionHorizontal' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionHorizontal" />
                        </div>
                        <div class="app-base-input app-resolutionVertical">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionVertical' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionVertical" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-compressionRatio">
                            <div class="app-base-input-label">
                                {{ 'import.compressionRatio' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionRatio" />
                        </div>
                        <div class="app-base-input app-compressionValue">
                            <div class="app-base-input-label">
                                {{ 'import.compressionValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionValue" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-colorModel">
                            <div class="app-base-input-label">
                                {{ 'import.colorModel' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorModel" />
                        </div>
                        <div class="app-base-input app-colorDepth">
                            <div class="app-base-input-label">
                                {{ 'import.colorDepth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorDepth" />
                        </div>
                    </div>
                     <div class="app-base-input-container">
                        <div class="app-base-input app-iccProfile">
                            <div class="app-base-input-label">
                                {{ 'import.iccProfile' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="iccProfile" />
                        </div>
                    </div>
                     <div class="app-base-input-container">
                        <div class="app-base-input app-pictureSizeWidth">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeWidth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeWidth" />
                        </div>
                        <div class="app-base-input app-pictureSizeHeight">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeHeight' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeHeight" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="app-sidebar-footer" [ngClass]="{ 'snack-bar-visible': importRecordSnackBarVisible() }">
            <div class="app-record-imported-snack-bar" *ngIf="importRecordSnackBarVisible()">
                {{ 'messages.record-imported-successfully' | translate }}
            </div>
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button
                    variant="primary"
                    size="l"
                    (click)="importRecord()"
                    [disabled]="isButtonDisabled()"
                >
                    <span>{{ 'buttons.import-record' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
</div>
