<div class="app-not-logged-in" *ngIf="!loggedIn()">
    <div class="app-not-logged-in-content">
        <div class="app-not-logged-in-message">
            {{ 'not-logged-in-message' | translate }}
        </div>
    </div>
</div>
<div class="app-import-record-container" *ngIf="assignedRegistars.length > 0 && loggedIn()">
    <div class="app-import-record-header">
        {{ 'import.import-record-title' | translate }}
    </div>
    <div class="app-import-record-body app-sidebar-content">
        <div class="app-part">
            <div class="app-part-content">
                <!-- INTELLECTUAL ENTITY -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.intelectual-entity-type' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedEntity">
                                @for (entity of intellectualEntitiesList(); track entity) {
                                <mat-option [value]="entity">{{ entity }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- REGISTRAR -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.registrar' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedRegistrar" (valueChange)="onRegistrarChange()">
                                @for (registrar of assignedRegistars; track registrar) {
                                <mat-option [value]="registrar">{{ registrar }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- REGISTRATION MODE -->
                <div class="app-base-input-container">
                    <div class="app-base-input app-singleselect">
                        <div class="app-base-input-label">
                            {{ 'import.registration-mode' | translate }}
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-select class="app-singleselect" [(value)]="selectedMode" [compareWith]="compareMode">
                                @for (mode of registrationMode; track mode) {
                                <mat-option [value]="mode.value">{{ mode.label | translate }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <!-- BUTTON -->
                <div class="">
                    <app-button
                        *ngIf="this.selectedEntity && this.selectedMode && this.selectedRegistrar"
                        variant="primary"
                        size="l"
                        iconRight="arrow-right.png"
                        (click)="openSidebar()"
                    >
                        {{ 'import.continue' | translate }}
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- No Registrars -->
<div class="app-no-registrars" *ngIf="assignedRegistars.length === 0">
    <div class="app-no-registrars-header">
        <div class="app-no-registrars-header-title">{{ 'import.no-registrar-title' | translate }}</div>
        <div class="app-no-registrars-header-subtitle">{{ 'import.no-registrar-subtitle' | translate }}</div>
    </div>
    <div class="app-no-registrars-header">
        <div class="app-no-registrars-header-title">{{ 'import.what-now' | translate }}</div>
    </div>
    <div class="app-no-registrars-body">
        <div class="app-no-registrars-body-part">
            <div class="app-body-title">
                {{ 'import.you-are-admin' | translate }}
            </div>
            <ul class="app-body-text">
                <li>
                    {{ 'import.open-users-page' | translate }}
                    <a routerLink="/users">{{ 'import.user-link-text' | translate }}</a>
                </li>
                <li>{{ 'import.assign-registrar' | translate }}</li>
                <li>{{ 'import.after-assign' | translate }}</li>
            </ul>
        </div>
        <div class="app-no-registrars-body-part">
            <div class="app-body-title">
                {{ 'import.not-admin' | translate }}
            </div>
            <ul class="app-body-text">
                <li>
                    {{ 'import.contact-admin' | translate }}
                    <a href="mailto:resolver-podpora@nkp.cz">resolver-podpora&#64;nkp.cz</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="app-overlay" *ngIf="isSidebarOpen()" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <div class="app-sidebar-entity">
        <!-- HEADER -->
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">
                {{ 'import.' + selectedEntity | translate }}
            </div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-field-hint">{{ 'import.mandatory' | translate }}</div>

            <!-- TITLE_PART -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.title_part' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- TITLE -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-title">
                            <div class="app-base-input-label" *ngIf="selectedEntity == 'PERIODICAL_VOLUME' || selectedEntity == 'PERIODICAL_ISSUE'">
                                {{ 'import.periodicalTitle' | translate }}
                            </div>
                            <div class="app-base-input-label" *ngIf="selectedEntity == 'MONOGRAPH_VOLUME'">
                                {{ 'import.monographTitle' | translate }}
                            </div>
                            <div
                                class="app-base-input-label"
                                *ngIf="
                                    selectedEntity !== 'PERIODICAL_VOLUME' &&
                                    selectedEntity !== 'PERIODICAL_ISSUE' &&
                                    selectedEntity !== 'MONOGRAPH_VOLUME'
                                "
                            >
                                {{ 'import.title' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="title" />
                            <mat-error class="app-error-message" *ngIf="title.invalid && (title.dirty || title.touched)">
                                {{ 'messages.title-required' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <!-- SUBTITLE -->
                    <div
                        class="app-base-input-container"
                        *ngIf="
                            selectedEntity !== 'MONOGRAPH_VOLUME' && selectedEntity !== 'PERIODICAL_VOLUME' && selectedEntity !== 'PERIODICAL_ISSUE'
                        "
                    >
                        <div class="app-base-input app-full-width app-subTitle">
                            <div class="app-base-input-label">
                                {{ 'import.subTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="subTitle" />
                        </div>
                    </div>
                    <!-- VOLUME TITLE -->
                    <div
                        class="app-base-input-container"
                        *ngIf="
                            selectedEntity === 'MONOGRAPH_VOLUME' || selectedEntity === 'PERIODICAL_VOLUME' || selectedEntity === 'PERIODICAL_ISSUE'
                        "
                    >
                        <div class="app-base-input app-full-width app-volumeTitle">
                            <div class="app-base-input-label">
                                {{ 'import.volumeTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="volumeTitle" />
                        </div>
                    </div>
                    <!-- ISSUE TITLE -->
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'PERIODICAL_ISSUE'">
                        <div class="app-base-input app-full-width app-issueTitle">
                            <div class="app-base-input-label">
                                {{ 'import.issueTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="issueTitle" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- IDENTIFIERS -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.identifiers' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-half-width app-ccnb">
                            <div class="app-base-input-label">
                                {{ 'import.ccnb' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="ccnb" />
                            <mat-error *ngIf="ccnb.hasError('invalidCcnb')">
                                {{ 'messages.invalid-ccnb' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="selectedEntity === 'MONOGRAPH' || selectedEntity === 'MONOGRAPH_VOLUME' || selectedEntity === 'OTHER'"
                    >
                        <div class="app-base-input app-half-width app-isbn">
                            <div class="app-base-input-label">
                                {{ 'import.isbn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="isbn" />
                            <mat-error *ngIf="isbn.hasError('invalidIsbn')">
                                {{ 'messages.invalid-isbn' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div
                        class="app-base-input-container"
                        *ngIf="selectedEntity === 'PERIODICAL' || selectedEntity === 'PERIODICAL_ISSUE' || selectedEntity === 'PERIODICAL_VOLUME'"
                    >
                        <div class="app-base-input app-half-width app-issn">
                            <div class="app-base-input-label">
                                {{ 'import.issn' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="issn" />
                            <mat-error *ngIf="issn.hasError('invalidIssn')">
                                {{ 'messages.invalid-issn' | translate }}
                            </mat-error>
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-otherId">
                            <div class="app-base-input-label">
                                {{ 'import.otherId' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherId" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- OTHER -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.other' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- DOCUMENT TYPE & BORN DIGITAL -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-documentType">
                            <div class="app-base-input-label">
                                {{ 'import.documentType' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="documentType" />
                        </div>
                        <div class="app-base-input app-toggle-container app-bornDigital" *ngIf="selectedEntity !== 'ANALYTICAL'">
                            <app-toggle size="s" [checked]="bornDigital" (click)="bornDigital = !bornDigital"></app-toggle>
                            <div class="app-toggle-label">{{ 'import.bornDigital' | translate }}</div>
                        </div>
                    </div>

                    <!-- PRIMARY ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-primaryOriginatorType">
                            <div class="app-base-input-label">
                                {{ 'import.primaryOriginator' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect app-primaryOriginatorType" [(value)]="selectedOriginatorType">
                                    @for (entity of primaryOriginatorTypes; track entity) {
                                    <mat-option [value]="entity.value">{{ entity.label }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="app-base-input app-primaryOriginatorValue">
                            <input matInput type="text" [formControl]="primaryOriginatorValue" />
                        </div>
                    </div>

                    <!-- OTHER ORIGINATOR -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-otherOriginator">
                            <div class="app-base-input-label">
                                {{ 'import.otherOriginator' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="otherOriginator" />
                        </div>
                    </div>

                    <!-- PUBLICATION -->
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-full-width app-place">
                            <div class="app-base-input-label">
                                {{ 'import.place' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="place" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-full-width app-publisher">
                            <div class="app-base-input-label">
                                {{ 'import.publisher' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="publisher" />
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedEntity !== 'ANALYTICAL'">
                        <div class="app-base-input app-half-width app-year">
                            <div class="app-base-input-label">
                                {{ 'import.year' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="year" />
                        </div>
                    </div>
                    <!-- THESIS -->
                    <div class="app-base-input-container" *ngIf="selectedEntity === 'THESIS'">
                        <div class="app-base-input app-full-width app-degreeAwardingInstitution">
                            <div class="app-base-input-label">
                                {{ 'import.degreeAwardingInstitution' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="degreeAwardingInstitution" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- SOURCE DOCUMENT (ANALYTICAL) -->
            <div class="app-part" *ngIf="selectedEntity === 'ANALYTICAL'">
                <div class="app-part-title">
                    {{ 'import.sourceDocument' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentVolumeTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentVolumeTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentVolumeTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-sourceDocumentIssueTitle">
                            <div class="app-base-input-label">
                                {{ 'import.sourceDocumentIssueTitle' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="sourceDocumentIssueTitle" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-ccnb">
                            <div class="app-base-input-label">{{ 'import.ccnb' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentCcnb" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-isbn">
                            <div class="app-base-input-label">{{ 'import.isbn' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentIsbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-issn">
                            <div class="app-base-input-label">{{ 'import.issn' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentIssn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-otherId">
                            <div class="app-base-input-label">{{ 'import.otherId' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentOtherId" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-place">
                            <div class="app-base-input-label">{{ 'import.place' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentPlace" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-full-width app-publisher">
                            <div class="app-base-input-label">{{ 'import.publisher' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentPublisher" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-year">
                            <div class="app-base-input-label">{{ 'import.year' | translate }} {{ 'import.of-source-document' | translate }}</div>
                            <input matInput type="text" [formControl]="sourceDocumentYear" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- DIGITAL DOCUMENT -->
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.digital-document' | translate }}
                </div>
                <div class="app-part-content">
                    <!-- ARCHIVER ID -->
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-primaryArchiverId">
                            <div class="app-base-input-label">
                                {{ 'import.archiverId' | translate }}
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-select class="app-singleselect" [(value)]="selectedArchiverId">
                                    @for (entity of archiverIdsList(); track entity) {
                                    <mat-option [value]="entity.id">{{ entity.name }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="app-base-input-container" *ngIf="selectedMode === 'BY_RESERVATION' || selectedMode === 'BY_REGISTRAR'">
                        <div class="app-base-input app-half-width app-urnNbn">
                            <div class="app-base-input-label">{{ 'import.urnNbn' | translate }}{{ selectedRegistrar }}-</div>
                            <input matInput type="text" [formControl]="urnNbn" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-financed">
                            <div class="app-base-input-label">
                                {{ 'import.financed' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="financed" />
                        </div>
                        <div class="app-base-input app-half-width app-contractNumber">
                            <div class="app-base-input-label">
                                {{ 'import.contractNumber' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="contractNumber" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-part">
                <div class="app-part-title">
                    {{ 'import.technicalMetadata' | translate }}
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-formatValue">
                            <div class="app-base-input-label">
                                {{ 'import.formatValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatValue" />
                        </div>
                        <div class="app-base-input app-half-width app-formatVersion">
                            <div class="app-base-input-label">
                                {{ 'import.formatVersion' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="formatVersion" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-extent">
                            <div class="app-base-input-label">
                                {{ 'import.extent' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="extent" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-resolutionHorizontal">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionHorizontal' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionHorizontal" />
                        </div>
                        <div class="app-base-input app-half-width app-resolutionVertical">
                            <div class="app-base-input-label">
                                {{ 'import.resolutionVertical' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="resolutionVertical" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-compression">
                            <div class="app-base-input-label">
                                {{ 'import.compression' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compression" />
                        </div>
                        <!-- <div class="app-base-input app-half-width app-compressionRatio">
                            <div class="app-base-input-label">
                                {{ 'import.compressionRatio' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionRatio" />
                        </div>
                        <div class="app-base-input app-half-width app-compressionValue">
                            <div class="app-base-input-label">
                                {{ 'import.compressionValue' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="compressionValue" />
                        </div> -->
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-colorModel">
                            <div class="app-base-input-label">
                                {{ 'import.colorModel' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorModel" />
                        </div>
                        <div class="app-base-input app-half-width app-colorDepth">
                            <div class="app-base-input-label">
                                {{ 'import.colorDepth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="colorDepth" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-iccProfile">
                            <div class="app-base-input-label">
                                {{ 'import.iccProfile' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="iccProfile" />
                        </div>
                    </div>
                    <div class="app-base-input-container">
                        <div class="app-base-input app-half-width app-pictureSizeWidth">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeWidth' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeWidth" />
                        </div>
                        <div class="app-base-input app-half-width app-pictureSizeHeight">
                            <div class="app-base-input-label">
                                {{ 'import.pictureSizeHeight' | translate }}
                            </div>
                            <input matInput type="text" [formControl]="pictureSizeHeight" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="app-sidebar-footer" [ngClass]="{ 'snack-bar-visible': importRecordSnackBarVisible() }">
            <div class="app-record-imported-snack-bar" *ngIf="importRecordSnackBarVisible()">
                {{ 'messages.record-imported-successfully' | translate }}
            </div>
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" (click)="importRecord()" [disabled]="isButtonDisabled()">
                    <span>{{ 'buttons.import-record' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
</div>
