.app-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    app-menu {
        flex-shrink: 0;
        overflow: hidden;
    }
    app-body {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
    }
}
