.app-registrars-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    .app-registrars-page {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 0 0 0;
        overflow: hidden;
        .app-registrars-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            padding: 0 0 0 16px;
            // IN STYLES.SCSS
        }
        .app-registrars, .app-archivers {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0 0 0 16px;
            overflow: hidden;
            .app-add {
                width: 200px;
            }
        }
        .app-table-registrars,
        .app-table-archivers {
            width: 800px;
        }
    }
}
.app-sidebar {
    display: none;
    height: 100%;
    align-self: flex-end;
    &.app-sidebar-active {
        display: flex;
    }
    .app-sidebar-archiver,
    .app-sidebar-registrar {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        z-index: 101;
        width: 800px;
        // STYLES SCSS
    }
}
.app-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.app-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.app-table-row {
    min-width: none;
}
.app-table-body {
    padding-bottom: 24px;
}
