<div class="app-registrars-container">
    <div class="app-registrars-page">
        <!-- TABS -->
        <div class="app-tabs-header app-registrars-header">
            <div class="app-tabs">
                <div
                    class="app-tab app-tab-first"
                    [ngClass]="{ 'app-tab-active': isActive === 'registrars' }"
                    routerLink="/registrars/registrars"
                >
                    {{ 'registrars.registrars-list' | translate }}
                </div>
                <div class="app-tab app-tab-last" [ngClass]="{ 'app-tab-active': isActive === 'archivers' }" routerLink="/registrars/archivers">
                    {{ 'registrars.archivers-list' | translate }}
                </div>
            </div>
        </div>

        <!-- REGISTRARS -->
        <div class="app-registrars" *ngIf="isActive === 'registrars'">
            <div class="app-add app-add-registrar" *ngIf="loggedIn()">
                <app-button variant="primary" size="s" iconLeft="add-white.svg" (click)="openAddRegistrarDialog()">
                    {{ 'buttons.add-registrar' | translate }}
                </app-button>
            </div>
            <div class="app-table app-table-registrars">
                <!-- table header -->
                <div class="app-row app-row-header">
                    <div class="app-col app-col-name app-table-header-item">
                        {{ 'registrars.name' | translate }}
                    </div>
                    <div class="app-col app-col-code app-table-header-item">
                        {{ 'registrars.code' | translate }}
                    </div>
                    <div class="app-col app-col-actions app-table-header-item">
                        {{ 'registrars.actions' | translate }}
                    </div>
                </div>
                <!-- no registrars -->
                <div class="no-processes" *ngIf="!loadingRegistrars() && registrars().length === 0">
                    {{ 'registrars.no-registrars' | translate }}
                </div>
                <!-- table body -->
                <div class="app-table-body">
                    <div
                        *ngFor="let registrar of registrars()"
                        class="app-row app-table-row app-row-clicable"
                        [ngClass]="{ 'app-row-active': activeRegistrar === registrar }"
                        (click)="openSidebar(registrar)"
                    >
                        <div class="app-col app-col-name">{{ registrar.name }}</div>
                        <div class="app-col app-col-code">{{ registrar.code }}</div>
                        <div class="app-col app-col-actions">
                            <app-button
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="trash-blue.svg"
                                (click)="deleteRegistrar(registrar); $event.stopPropagation()"
                            ></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ARCHIVERS -->
        <div class="app-archivers" *ngIf="isActive === 'archivers'">
            <div class="app-add app-add-archiver" *ngIf="loggedIn()">
                <app-button variant="primary" size="s" iconLeft="add-white.svg" (click)="openEditArchiverDialog()">
                    {{ 'buttons.add-archiver' | translate }}
                </app-button>
            </div>
            <div class="app-table app-table-archivers">
                <!-- table header -->
                <div class="app-row app-row-header">
                    <div class="app-col app-col-name app-table-header-item">
                        {{ 'registrars.Name' | translate }}
                    </div>
                    <div class="app-col app-col-actions app-table-header-item" *ngIf="loggedIn()">
                        {{ 'registrars.actions' | translate }}
                    </div>
                </div>
                <!-- no archivers -->
                <div class="no-records" *ngIf="!loadingArchivers() && archivers().length === 0">
                    {{ 'registrars.no-archivers' | translate }}
                </div>
                <!-- table body -->
                <div class="app-table-body">
                    <div
                        *ngFor="let archiver of archivers()"
                        class="app-row app-table-row app-row-clicable"
                        [ngClass]="{
                            'app-row-hidden': archiver?.hidden === true && !loggedIn(),
                            'app-row-active': activeArchiver?.id?.toString() === archiver.id.toString(),
                            'app-actions-invisible': !loggedIn()
                        }"
                        (click)="openSidebar(archiver)"
                    >
                        <div class="app-col app-col-name">{{ archiver.name }}</div>
                        <div class="app-col app-col-code">{{ archiver.code }}</div>
                        <div class="app-col app-col-actions" *ngIf="loggedIn()">
                            <app-button
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="edit-blue.svg"
                                (click)="openEditArchiverDialog(archiver); $event.stopPropagation()"
                            ></app-button>
                            <app-button
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="trash-blue.svg"
                                (click)="deleteArchiver(archiver); $event.stopPropagation()"
                            ></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overlay -->
<!-- <div class="app-overlay" *ngIf="isSidebarOpen() && loggedIn()" (click)="closeSidebar()"></div> -->

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <!-- Sidebar Registrar -->
    <div class="app-sidebar-registrar" *ngIf="activeRegistrar && isActive === 'registrars'">
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">{{ activeRegistrar?.name }}</div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">{{ activeRegistrar?.log | json }}</div>
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <!-- <app-button variant="primary" size="l" iconRight="download.svg" (click)="downloadProcess(activeProcess)">
                    <span>{{ 'buttons.download' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" iconRight="copy.svg" (click)="copyProcess(activeProcess)">
                    <span>{{ 'buttons.copy' | translate }}</span>
                </app-button> -->
            </div>
        </div>
    </div>

    <!-- Sidebar Archiver -->
    <div class="app-sidebar-archiver" *ngIf="activeArchiver && isActive === 'archivers'">
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">{{ 'registrars.detail' | translate }} - {{ activeArchiver?.name }}</div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-sections">
                <div class="app-section">
                    <!-- <div class="app-section-title">{{ 'registrars.detail' | translate }}</div> -->
                    <div class="app-items">
                        <div class="app-item" *ngIf="activeArchiver?.name">
                            <span class="app-item-label">{{ 'registrars.name' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.name }}</span>
                        </div>
                        <div class="app-item">
                            <span class="app-item-label">{{ 'registrars.id' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.id }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeArchiver?.description">
                            <span class="app-item-label">{{ 'registrars.description' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.description }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeArchiver?.created">
                            <span class="app-item-label">{{ 'registrars.created' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.created }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeArchiver?.modified">
                            <span class="app-item-label">{{ 'registrars.modified' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.modified }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeArchiver?.hidden !== undefined && loggedIn()">
                            <span class="app-item-label">{{ 'registrars.hidden' | translate }}:</span>
                            <span class="app-item-value">{{ activeArchiver?.hidden ? 'Ano' : 'Ne' }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
</div>
