.app-processes-container {
    display: flex;
    flex: 1;
    // width: 100%;
    // height: 100%;
    // padding: 24px 0px 0px 16px;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    // align-items: flex-start;
    // gap: 24px;
    // flex-shrink: 0;
    // box-sizing: border-box;
    .app-processes {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 0 0 0;
        .app-processes-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            padding: 0 0 0 16px;
            .app-tabs {
                display: flex;
                width: 800px;
                align-items: flex-start;
                .app-tab {
                    display: flex;
                    padding: var(--Spacing-x3, 12px) var(--Spacing-x4, 16px);
                    justify-content: center;
                    align-items: center;
                    gap: var(--Spacing-x2, 8px);
                    flex: 1 0 0;
                    border-top: 1px solid var(--Boarder-Bright, #dfe5ec);
                    border-bottom: 1px solid var(--Boarder-Bright, #dfe5ec);
                    border-right: 1px solid var(--Boarder-Bright, #dfe5ec);
                    background: var(--BG-Main-Base, #fff);
                    font-size: 14px;
                    line-height: 16px;
                    font-weight: 500;
                    &:hover {
                        cursor: pointer;
                        color: #1e657b;
                    }
                    &:active {
                        color: #144452;
                    }
                    &.app-tab-first {
                        border-radius: 4px 0 0 4px;
                        border-left: 1px solid var(--Boarder-Bright, #dfe5ec);
                    }
                    &.app-tab-last {
                        border-radius: 0 4px 4px 0;
                    }
                    &.app-tab-active {
                        border: 1px solid var(--Boarder-Primary-Default, #0080a8);
                        color: var(--Text-Btn-Secondary-Default, #0080a8);
                        &:hover {
                            border: 1px solid #1e657b;
                            color: #1e657b;
                        }
                        &:active {
                            border: 1px solid #144452;
                            color: #144452;
                        }
                    }
                }
            }
        }
        .app-instances {
            display: flex;
            flex: 1;
            // width: 100%;
            min-height: 0;
            min-width: 0;
            flex-direction: column;
            gap: 16px;
            .app-toggle {
                display: flex;
                align-items: center;
                gap: var(--Spacing-x2, 8px);
                padding: 0 0 0 16px;
                color: var(--Text-Secondary, #263340);
                /* Typesettings/S/Medium */
                font-family: 'IBM Plex Sans';
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 142.857% */
            }
            .app-table-instances {
                padding: 0 16px 0 16px;
            }
        }
        .app-definitions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            align-self: stretch;
            .app-table-definitions {
                padding: 0 16px 0 16px;
                width: 800px;
                .app-row-definition {
                    justify-content: space-between;
                    .app-col-def-actions {
                        width: 104px;
                        padding: 0 178px 0 0;
                    }
                    .app-col-buttons {
                        flex: 0 0 auto;
                    }
                }
            }
            .app-col-buttons {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
}
.app-sidebar {
    display: none;
    height: 100%;
    align-self: flex-end;
    &.app-sidebar-active {
        display: flex;
    }
    .app-sidebar-instances,
    .app-sidebar-definitions {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        z-index: 101;
        width: 800px;
        .app-sidebar-header {
            display: flex;
            padding: 20px 24px;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            align-self: stretch;
            .app-sidebar-title {
                flex: 1 0 0;
                color: var(--Text-Base, #0a0d10);

                /* Typesettings/XL/Medium */
                font-family: 'IBM Plex Sans';
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }
            .app-sidebar-close {
                display: flex;
                padding: 4px 0;
                align-items: center;
                gap: 8px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .app-sidebar-content {
            display: flex;
            padding: 0 24px 24px 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;
            color: var(--Text-Base, #0a0d10);
            /* Typesettings/M/Regular */
            font-family: 'IBM Plex Sans';
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }
        .app-sidebar-footer {
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 56px;
            flex-shrink: 0;
            align-self: stretch;
            border-top: 1px solid var(--Boarder-Bright, #dfe5ec);
            background: var(--BG-Main-Base, #fff);
            .app-button-container {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}
.app-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
