
<div class="app-not-logged-in" *ngIf="!loggedIn()">
    <div class="app-not-logged-in-content">
        <div class="app-not-logged-in-message">
            {{ 'not-logged-in-message' | translate }}
        </div>
    </div>
</div>
<div class="app-processes-container" *ngIf="loggedIn()">
    <div class="app-processes">
        <div class="app-tabs-header app-processes-header">
            <div class="app-tabs">
                <div class="app-tab app-tab-first" [ngClass]="{ 'app-tab-active': isActive === 'instances' }" routerLink="/processes/instances">
                    {{ 'processes.instances' | translate }}
                </div>
                <div class="app-tab app-tab-last" [ngClass]="{ 'app-tab-active': isActive === 'definitions' }" routerLink="/processes/definitions">
                    {{ 'processes.definitions' | translate }}
                </div>
            </div>
        </div>

        <!-- INSTANCES -->
        <div class="app-instances" *ngIf="isActive === 'instances'">
            <div class="app-toggle">
                <app-toggle [disabled]="loadingProcesses()" size="s" [checked]="showMyProcesses" (click)="toggleShowMyProcesses()"></app-toggle>
                {{ 'processes.show-my-processes' | translate }}
            </div>
            <div class="app-table app-table-instances">
                <div class="app-row app-row-header">
                    <div class="app-col app-col-40px app-table-header-item">
                        {{ 'ID' | translate }}
                    </div>
                    <div class="app-col app-table-header-item app-col-process-type">
                        {{ 'processes.type' | translate }}
                    </div>
                    <div class="app-col app-col-180px app-table-header-item">
                        {{ 'processes.ownerLogin' | translate }}
                    </div>
                    <div class="app-col app-col-100px app-table-header-item">
                        {{ 'processes.state' | translate }}
                    </div>
                    <div class="app-col app-col-120px app-table-header-item">
                        {{ 'processes.scheduled' | translate }}
                    </div>
                    <div class="app-col app-col-120px app-table-header-item">
                        {{ 'processes.started' | translate }}
                    </div>
                    <div class="app-col app-col-120px app-table-header-item">
                        {{ 'processes.finished' | translate }}
                    </div>
                    <div class="app-col app-col-120px app-table-header-item">
                        {{ 'processes.duration' | translate }}
                    </div>
                    <div class="app-col app-col-72px app-table-header-item">
                        {{ 'actions' | translate }}
                    </div>
                </div>
                <div class="no-processes" *ngIf="!loadingProcesses() && processes().length === 0">
                    {{ 'processes.no-processes' | translate }}
                </div>
                <div class="app-table-body">
                    <div
                        *ngFor="let process of processes()"
                        class="app-row app-table-row app-row-clicable"
                        [ngClass]="{ 'app-row-active': activeProcess?.id.toString() === process.id.toString() }"
                        (click)="openSidebar(process)"
                    >
                        <div class="app-col app-col-40px app-table-item">
                            {{ process.id }}
                        </div>
                        <div class="app-col app-table-item app-col-process-type">
                            {{ process.type }}
                        </div>
                        <div class="app-col app-col-180px app-table-item">
                            {{ process.ownerLogin }}
                        </div>
                        <div class="app-col app-col-100px app-table-item app-col-state">
                            <div class="app-state-indicator" [ngClass]="'app-state-' + process.state.toLowerCase()">
                                {{ process.state }}
                            </div>
                        </div>
                        <div class="app-col app-col-120px app-table-item">
                            {{ process.scheduled }}
                        </div>
                        <div class="app-col app-col-120px app-table-item">
                            {{ process.started }}
                        </div>
                        <div class="app-col app-col-120px app-table-item">
                            {{ process.finished }}
                        </div>
                        <div class="app-col app-col-120px app-table-item">
                            {{ process.duration }}
                        </div>
                        <div class="app-col app-col-72px app-table-item">
                            <app-button
                                *ngIf="
                                    process.state === 'FAILED' ||
                                    process.state === 'COMPLETED' ||
                                    process.state === 'CANCELED' ||
                                    process.state === 'KILLED' ||
                                    process.state === 'FINISHED'
                                "
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="download-blue.svg"
                                (click)="downloadProcessOutput(process.id); $event.stopPropagation()"
                            ></app-button>
                            <app-button
                                *ngIf="
                                    process.state === 'FAILED' ||
                                    process.state === 'COMPLETED' ||
                                    process.state === 'CANCELED' ||
                                    process.state === 'KILLED' ||
                                    process.state === 'FINISHED'
                                "
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="trash-blue.svg"
                                (click)="deleteProcess(process); $event.stopPropagation()"
                            ></app-button>
                            <app-button
                                *ngIf="process.state === 'RUNNING'"
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="close-blue.svg"
                                (click)="killProcess(process); $event.stopPropagation()"
                            ></app-button>
                            <app-button
                                *ngIf="process.state === 'SCHEDULED'"
                                variant="tertiary"
                                size="s"
                                [icon]="true"
                                iconLeft="close-blue.svg"
                                (click)="cancelProcess(process); $event.stopPropagation()"
                            ></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DEFINITIONS -->
        <div class="app-definitions" *ngIf="isActive === 'definitions'">
            <div class="app-table app-table-definitions">
                <div class="app-row app-row-header app-row-non-clicable app-row-definition">
                    <div class="app-col app-table-header-item">
                        {{ 'processes.title' | translate }}
                    </div>
                    <div class="app-col app-table-header-item app-col-def-actions">
                        {{ 'actions' | translate }}
                    </div>
                </div>
                <div class="no-processes" *ngIf="!loadingProcesses() && definitions().length === 0">
                    {{ 'processes.no-definitions' | translate }}
                </div>
                <div class="app-table-body">
                    <div
                        *ngFor="let definition of definitions()"
                        class="app-row app-table-row app-row-non-clicable app-row-definition"
                        [ngClass]="{ 'app-row-active': activeProcess === definition }"
                    >
                        <div class="app-col app-table-item app-col-definition">
                            {{ 'definitions.' + definition.type | translate }}
                        </div>
                        <div class="app-col app-col-buttons app-table-item">
                            <app-button
                                *ngIf="definition.type === 'OAI_ADAPTER'"
                                variant="tertiary"
                                size="s"
                                iconRight="settings.svg"
                                (click)="openProcess('set', definition.type); $event.stopPropagation()"
                            >
                                <div>{{ 'processes.settings' | translate }}</div>
                            </app-button>
                            <app-button
                                variant="tertiary"
                                size="s"
                                iconRight="clock.svg"
                                (click)="openProcess('plan', definition.type); $event.stopPropagation()"
                            >
                                <div>{{ 'processes.plan-process' | translate }}</div>
                            </app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="app-overlay" *ngIf="isSidebarOpen()" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <!-- Sidebar Instances -->
    <div class="app-sidebar-instances" *ngIf="activeProcess && isActive === 'instances'">
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">{{ activeProcess?.id }} - {{ activeProcess?.type }}</div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">{{ activeProcess.log | json }}</div>
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" iconRight="download.svg" (click)="downloadProcess(activeProcess)">
                    <span>{{ 'buttons.download' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" iconRight="copy.svg" (click)="copyProcess(activeProcess)">
                    <span>{{ 'buttons.copy' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>

    <!-- Sidebar Definitions - Process Planning -->
    <div class="app-sidebar-definitions" *ngIf="isActive === 'definitions'">
        <!-- HEADER -->
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">
                {{ 'processes.action-' + activeAction | translate }} - {{ 'definitions.' + activeDefinition | translate }}
            </div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>

        <!-- SETTINGS OAI ADAPTER -->
        <div class="app-sidebar-content" *ngIf="activeAction === 'set' && activeDefinition === 'OAI_ADAPTER'">
            <div class="app-part app-set-oai-adapter">
                <div class="app-part-title">{{ 'processes.transform-rdd' | translate }}</div>
                <div class="app-part-buttons">
                    <app-button variant="primary" size="s" iconLeft="add-white.svg">
                        <div>{{ 'buttons.add' | translate }}</div>
                    </app-button>
                </div>
            </div>
            <div class="app-part app-set-oai-adapter">
                <div class="app-part-title">{{ 'processes.transform-ids' | translate }}</div>
                <div class="app-part-buttons">
                    <app-button variant="primary" size="s" iconLeft="add-white.svg">
                        <div>{{ 'buttons.add' | translate }}</div>
                    </app-button>
                </div>
            </div>
        </div>

        <!-- PLAN OAI ADAPTER -->
        <div class="app-sidebar-content" *ngIf="activeAction === 'plan' && activeDefinition === 'OAI_ADAPTER'">
            <div class="app-part">
                <div class="app-part-title">{{ 'processes.basic-settings' | translate }} OAI</div>
            </div>
            <div class="app-part">
                <div class="app-part-title">{{ 'processes.registration-rules' | translate }}</div>
            </div>

            <div class="app-part">
                <div class="app-part-title">{{ 'processes.diff-tolerance' | translate }}</div>
            </div>
        </div>

        <!-- PLAN EXPORT URN:NBN -->
        <div class="app-sidebar-content" *ngIf="activeAction === 'plan' && activeDefinition === 'REGISTRARS_URN_NBN_CSV_EXPORT'">
            <div class="app-part">
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-date' | translate }} URN:NBN</div>
                    <div class="app-base-input-container app-datepicker-container">
                        <div class="app-base-input app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker app-base-input-field">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="app-base-input app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-registrator' | translate }} URN:NBN</div>
                    <div class="app-base-input app-multiselect">
                        <mat-form-field appearance="outline">
                            <mat-select [formControl]="registators" multiple>
                                @for (registrator of registatorList(); track registrator) {
                                <mat-option [value]="registrator">{{ registrator }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-entity' | translate }}</div>
                    <div class="app-base-input app-multiselect">
                        <mat-form-field appearance="outline">
                            <mat-select [formControl]="intellectualEntities" multiple>
                                @for (entity of intellectualEntitiesList(); track entity) {
                                <mat-option [value]="entity">{{ entity }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-missing-id' | translate }}</div>
                    <div class="app-base-input app-multiselect">
                        <mat-form-field appearance="outline">
                            <mat-select [formControl]="identifiers" multiple>
                                @for (identifier of identifiersList(); track identifier) {
                                <mat-option [value]="identifier">{{ identifier }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-state' | translate }}</div>
                    <mat-radio-group class="app-radio-group" [(ngModel)]="selectedState">
                        @for (state of states; track state) {
                        <mat-radio-button class="example-radio-button" [value]="state">{{ 'processes.' + state | translate }}</mat-radio-button>
                        }
                    </mat-radio-group>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.count-digital-instances' | translate }}</div>
                    <mat-radio-group class="app-radio-group" [(ngModel)]="selectedIncludeCount">
                        @for (includeCount of includeCounts; track includeCount) {
                        <mat-radio-button class="example-radio-button" [value]="includeCount">
                            {{ 'processes.' + includeCount | translate }}
                        </mat-radio-button>
                        }
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <!-- PLAN DI URL AVAILABILITY CHECK -->
        <div class="app-sidebar-content" *ngIf="activeAction === 'plan' && activeDefinition === 'DI_URL_AVAILABILITY_CHECK'">
            <div class="app-part">
                <div class="app-part-title">{{ 'processes.digital-document' | translate }}</div>
                <div class="app-part-content">
                    <div class="app-base-input app-multiselect">
                        <div class="app-base-input-label">{{ 'processes.registrator' | translate }}</div>
                        <mat-form-field appearance="outline">
                            <mat-select [formControl]="registators" multiple>
                                @for (reg of registatorList(); track reg) {
                                <mat-option [value]="reg">{{ reg }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="app-base-input app-multiselect">
                        <div class="app-base-input-label">{{ 'processes.intellectual-entity' | translate }}</div>
                        <mat-form-field appearance="outline">
                            <mat-select [formControl]="intellectualEntities" multiple>
                                @for (entity of intellectualEntitiesList(); track entity) {
                                <mat-option [value]="entity">{{ entity }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="app-base-input">
                        <div class="app-base-input-label">{{ 'processes.urn-nbn-state' | translate }}</div>
                        <mat-radio-group class="app-radio-group" [(ngModel)]="selectedUrnNbnState">
                            @for (state of states; track state) {
                            <mat-radio-button class="example-radio-button" [value]="state">{{ 'processes.' + state | translate }}</mat-radio-button>
                            }
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="app-part">
                <div class="app-part-title">{{ 'processes.digital-instance' | translate }}</div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.created-deactivated' | translate }}</div>
                    <div class="app-datepicker-container">
                        <div class="app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker app-base-input-field">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.di-state' | translate }}</div>
                    <div class="app-base-input">
                        <mat-radio-group class="app-radio-group" [(ngModel)]="selectedDIState">
                            @for (state of states; track state) {
                            <mat-radio-button class="example-radio-button" [value]="state">{{ 'processes.' + state | translate }}</mat-radio-button>
                            }
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <!-- PLAN INDEXATION -->
        <div class="app-sidebar-content" *ngIf="activeAction === 'plan' && activeDefinition === 'INDEXATION'">
            <div class="app-part">
                <div class="app-part-content">
                    <div class="app-base-input-label">{{ 'processes.filter-by-date' | translate }}</div>
                    <div class="app-datepicker-container">
                        <div class="app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker app-base-input-field">
                                <input matInput [matDatepicker]="startDatePicker" [formControl]="startDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="app-datepicker-item">
                            <mat-form-field appearance="outline" class="app-datepicker">
                                <input matInput [matDatepicker]="endDatePicker" [formControl]="endDateControl" />
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button *ngIf="activeAction === 'plan'" variant="primary" size="l" (click)="planProcess(activeDefinition)">
                    <span>{{ 'buttons.plan-process' | translate }}</span>
                </app-button>
                <app-button *ngIf="activeAction === 'set'" variant="primary" size="l" (click)="setProcess(activeDefinition)">
                    <span>{{ 'buttons.set-process' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
</div>
