<div class="app-users-container">
    <div class="app-table app-table-users">
        <div class="app-row app-row-header app-row-header-with-button">
            <div class="app-col app-col-user app-col-user-title">
                {{ 'users.list-of-users' | translate }}
                <app-button size="s" [icon]="true" iconLeft="add.png"></app-button>
            </div>
            <div class="app-col app-col-actions app-col-actions-title">
                <div>{{ 'actions' | translate }}</div>
            </div>
        </div>
        <div class="app-table-body">
            <div class="app-row" *ngFor="let user of users">
                <div class="app-col app-col-user">{{ user }}</div>
                <div class="app-col app-col-actions">
                    <app-button size="s" variant="tertiary" iconRight="setting.png">
                        {{ 'buttons.rights' | translate }}
                    </app-button>
                    <app-button size="s" variant="tertiary" iconRight="lock.png">
                        {{ 'buttons.change-password' | translate }}
                    </app-button>
                    <div class="app-buttons">
                        <app-button size="s" variant="tertiary" [icon]="true" iconRight="edit.png"></app-button>
                        <app-button size="s" variant="tertiary" [icon]="true" iconRight="trash.png"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
