.app-users-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    .app-users {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;
        padding: 24px 16px 40px 16px;
        .app-table-users {
            width: 800px;
        }
    }
}
.app-sidebar {
    display: none;
    height: 100%;
    align-self: flex-end;
    &.app-sidebar-active {
        display: flex;
        // position: absolute;
    }
    .app-sidebar-user,
    .app-sidebar-rights {
        display: flex;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        z-index: 101;
        width: 800px;
        // STYLES SCSS
    }
}
.app-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.app-items {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    .app-item {
        display: flex;
        padding: var(--Spacing-x1, 4px) var(--Spacing-x3, 12px);
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: var(--Spacing-x1, 4px);
        border: 1px solid var(--Boarder-Bright, #dfe5ec);
        background: var(--BG-Main-Base, #fff);
        color: var(--Text-Base, #0a0d10);
        /* Typesettings/M/Regular */
        font-family: 'IBM Plex Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        .app-selected-item-remove {
            display: flex;
            &:hover {
                cursor: pointer;
            }
        }

        img {
            width: 20px;
            height: 20px;
            align-self: stretch;
            cursor: pointer;
        }
    }
}
