<div class="app-not-logged-in" *ngIf="!loggedIn() || !isAdmin()">
    <div class="app-not-logged-in-content" *ngIf="!loggedIn()">
        <div class="app-not-logged-in-message">
            {{ 'not-logged-in-message' | translate }}
        </div>
    </div>
    <div class="app-not-logged-in-content" *ngIf="loggedIn() && !isAdmin()">
        <div class="app-not-logged-in-message">
            {{ 'not-admin-message' | translate }}
        </div>
    </div>
</div>

<div class="app-users-container" *ngIf="loggedIn() && isAdmin()">
    <div class="app-users">
        <div class="app-table app-table-users">
            <div class="app-row app-row-header app-row-header-with-button">
                <div class="app-col app-col-user app-col-user-title">
                    {{ 'users.list-of-users' | translate }}
                    <app-button size="s" [icon]="true" iconLeft="add.png" (click)="openAddUserDialog()"></app-button>
                </div>
                <div class="app-col app-col-actions app-col-actions-title">
                    <div>{{ 'actions' | translate }}</div>
                </div>
            </div>
            <div class="app-table-body app-table-body-users">
                <div
                    class="app-row app-table-row app-row-clicable"
                    *ngFor="let user of users()"
                    [ngClass]="{ 'app-row-active': activeUser?.id.toString() === user.id.toString() }"
                    (click)="openSidebar(user)"
                >
                    <div class="app-col app-col-user">{{ user?.login }}</div>
                    <div class="app-col app-col-actions">
                        <app-button size="s" variant="tertiary" iconRight="setting.png" (click)="openRightsSidebar(user); $event.stopPropagation()">
                            {{ 'buttons.rights' | translate }}
                        </app-button>
                        <app-button
                            size="s"
                            variant="tertiary"
                            iconRight="lock.png"
                            (click)="openChangePasswordDialog(user); $event.stopPropagation()"
                        >
                            {{ 'buttons.change-password' | translate }}
                        </app-button>
                        <div class="app-buttons">
                            <app-button
                                size="s"
                                variant="tertiary"
                                [icon]="true"
                                iconRight="edit.png"
                                (click)="openEditUserDialog(user); $event.stopPropagation()"
                            ></app-button>
                            <app-button
                                size="s"
                                variant="tertiary"
                                [icon]="true"
                                iconRight="trash.png"
                                (click)="openDeleteUserDialog(user); $event.stopPropagation()"
                            ></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="app-overlay" *ngIf="isSidebarOpen()" (click)="closeSidebar()"></div>

<!-- Sidebar -->
<div class="app-sidebar" [ngClass]="{ 'app-sidebar-active': isSidebarOpen() }">
    <div class="app-sidebar-user" *ngIf="activeUser && !rightsDetails">
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">{{ 'registrars.detail' | translate }} - {{ activeUser?.login }}</div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-sections">
                <div class="app-section">
                    <div class="app-items">
                        <div class="app-item">
                            <span class="app-item-label">{{ 'users.id' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.id }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.login">
                            <span class="app-item-label">{{ 'users.username' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.login }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.email">
                            <span class="app-item-label">{{ 'users.email' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.email }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.admin !== undefined">
                            <span class="app-item-label">{{ 'users.admin' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.admin ? 'ano' : 'ne' }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.description">
                            <span class="app-item-label">{{ 'users.description' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.description }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.created">
                            <span class="app-item-label">{{ 'users.created' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.created }}</span>
                        </div>
                        <div class="app-item" *ngIf="activeUser?.modified">
                            <span class="app-item-label">{{ 'users.modified' | translate }}:</span>
                            <span class="app-item-value">{{ activeUser?.modified }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
            </div>
        </div>
    </div>
    <div class="app-sidebar-rights" *ngIf="rightsDetails">
        <div class="app-sidebar-header">
            <div class="app-sidebar-title">{{ 'users.rights-details' | translate }} - {{ activeUser?.login }}</div>
            <div class="app-sidebar-close" (click)="closeSidebar()">
                <img src="assets/icons/close.svg" />
            </div>
        </div>
        <div class="app-sidebar-content">
            <div class="app-sections">
                <div class="app-section">
                    <div class="app-section-title">{{ 'users.current-rights' | translate }}</div>
                    <div class="app-items app-registrars-items" *ngIf="enrichedCurrentRegistrars().length > 0">
                        <div class="app-item app-registrar-item" *ngFor="let item of enrichedCurrentRegistrars()">
                            <span class="app-item-value">{{ item.code }} - {{ item.name }}</span>
                            <app-button
                                size="xs"
                                variant="tertiary"
                                (click)="removeCurrentRegistrar(item)"
                            >
                                {{ 'buttons.remove-rights' | translate }}
                            </app-button>
                        </div>
                    </div>
                    <div class="app-no-items" *ngIf="enrichedCurrentRegistrars().length === 0">
                        {{ 'users.no-current-rights' | translate }}
                    </div>
                </div>
                <div class="app-section">
                    <div class="app-section-title">{{ 'users.add-new-rights' | translate }}</div>
                    <!-- REGISTRAR -->
                    <div class="app-section-part app-add-registrar-part" *ngIf="filteredRegistrars().length > 0">
                        <div class="app-base-input-container">
                            <div class="app-base-input app-multiselect">
                                <!-- <div class="app-base-input-label">{{ 'processes.filter-by-registrar' | translate }} URN:NBN</div> -->
                                <mat-form-field appearance="outline">
                                    <mat-select [formControl]="registrarsControl" multiple [placeholder]="'inputs.select-registrar' | translate">
                                        <mat-select-trigger>
                                            @if ((registrarsControl.value?.length || 0) > 0) {
                                            {{ 'inputs.selected-items' | translate }}:
                                            <span>{{ registrarsControl.value?.length }}</span>
                                            }
                                        </mat-select-trigger>
                                        @for (reg of filteredRegistrars(); track reg) {
                                        <mat-option [value]="reg">{{ reg.code }} - {{ reg.name }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="app-selected-items" *ngIf="registrarsControl.value?.length > 0">
                                <div class="app-selected-item" *ngFor="let item of registrarsControl.value">
                                    {{ item.code }}
                                    <div class="app-selected-item-remove" (click)="removeSelectedRegistrar(item)">
                                        <img src="assets/icons/close.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-no-items" *ngIf="filteredRegistrars().length === 0">
                        {{ 'users.no-registrars-available' | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="app-sidebar-footer">
            <div class="app-button-container">
                <app-button variant="tertiary" size="l" (click)="closeSidebar()">
                    <span>{{ 'buttons.cancel' | translate }}</span>
                </app-button>
                <app-button variant="primary" size="l" (click)="addSelectedRegistrars()" [disabled]="!registrarsControl.value || registrarsControl.value.length === 0">
                    {{ 'buttons.add' | translate }}
                </app-button>
            </div>
        </div>
    </div>
</div>
