.app-logs-container {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 0;
    padding: 24px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    .app-logs-header {
        display: flex;
        padding: 0 16px;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        .app-logs-title {
            color: var(--Text-Base, #0a0d10);
            /* Typesettings/XL/Medium */
            font-family: 'IBM Plex Sans';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; /* 160% */
        }
    }
    .app-logs-actions {
        display: flex;
        padding: 0 16px;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }
    .app-logs-body {
        display: flex;
        padding: 0 16px 24px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        align-self: stretch;
        overflow: auto;
        .app-logs-content {
            pre {
                margin: 0;
                color: var(--Text-Base, #0a0d10);
                /* Typesettings/M/Regular */
                font-family: 'IBM Plex Sans';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
        }
    }
}
.app-datepicker-container {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px 16px;
}
