.app-dialog {
    border-radius: 4px;
    background: var(--BG-Main-Base, #fff);
    .app-dialog-header {
        display: flex;
        padding: 20px 24px;
        justify-content: flex-end;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        .app-dialog-title {
            flex: 1 0 0;
            color: var(--Text-Base, #0a0d10);

            /* Typesettings/XL/Medium */
            font-family: 'IBM Plex Sans';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
        }
        .app-close {
            display: flex;
            padding: 4px 0;
            align-items: center;
            gap: 8px;
        }
    }
    .app-dialog-body {
        display: flex;
        padding: 0 24px 24px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        .app-part-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Spacing-x2, 8px);
            align-self: stretch;
            &.app-part-username,
            &.app-part-email,
            &.app-part-password {
                width: 400px;
                .app-base-textarea {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                    height: auto;
                    padding: 12px 16px;
                    border-radius: 4px;
                    color: var(--Text-Base, #0a0d10);

                    /* Typesettings/M/Regular */
                    font-family: 'IBM Plex Sans';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
            }
        }
    }

}
