.app-hidden-input {
    display: none;
}
.app-visible-input {
    padding-left: 120px;
}
.app-upload-button {
    margin-left: 12px;
    position: relative;
    top: -46px;
}
.app-part-title {
    width: 364px;
}
.app-part-xslt-file {
    width: 700px;
}
.app-dialog-body .app-part-content.app-part-description textarea {
    width: 665px;
}
