/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: IBM Plex Sans, sans-serif;
}

:root {
    --Text-Base: #0a0d10;
    --Text-Secondary: #263340;
}

h1 {
    /* Heading/H1/Medium */
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px; /* 140% */
    margin: 0;
}

h4 {
    font-family: 'IBM Plex Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}
